%h1.textCenter Well, hey there pal!
= form_for @user do |f|
	= if @user.errors.any?
		.error_messages
			%h1 Something Went wrong
			%ul
				-for message in @user.errors.full_messages
					%li 
						= message
	%fieldset
		= f.text_field :email, :placeholder => "Email address"
		= f.text_field :username, :placeholder => "Username"
		= f.password_field :password, :placeholder => "Password"
		= f.password_field :password_confirmation, :placeholder => "Password again"
		= f.submit